# Ignore tudo
**/*

# Incluir arquivos necessários
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.gif
!**/*.webp
!**/*.svg
!**/*.ttf
!**/*.otf
!**/*.woff
!**/*.woff2
!**/*.eot
!**/*.mp4
!**/*.webm
!**/*.wav
!**/*.mp3
!**/*.m4a
!**/*.aac
!**/*.oga
!**/*.html
!**/*.css
!**/*.md
!**/*.txt

# Ignorar pastas específicas
.git/
.gitignore
node_modules/
__tests__/
coverage/
.vscode/
.idea/
.DS_Store
.env*
!.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pem
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
build/
.cache/
.tmp/
.temp/
.vercel/
.netlify/
.next/
.nuxt/
.vuepress/dist/
.svelte-kit/
# Manter o arquivo eas.json
!eas.json
!app.json
!app.config.js
!babel.config.js
!metro.config.js
!tsconfig.json
!package.json
!package-lock.json
!yarn.lock
!index.js
!App.js
!App.tsx
!index.tsx
!src/**/*
!assets/**/*
!public/**/*
!ios/Podfile.lock
!ios/Podfile
!android/build.gradle
!android/app/build.gradle
!android/app/src/main/**/*
!android/gradle.properties
!android/gradle/wrapper/gradle-wrapper.properties
!android/settings.gradle
!android/gradlew
!android/gradlew.bat
!android/gradle/
!android/app/google-services.json
!android/app/google-services.json.prod
!android/app/google-services.json.dev
!android/app/google-services.staging.json
!android/app/google-services.prod.json
!android/app/google-services.dev.json
!android/app/google-services.staging.json
!android/app/src/main/assets/
!android/app/src/main/res/
!android/app/src/main/java/
!android/app/src/main/kotlin/
!ios/domino/
!ios/domino.xcodeproj/
!ios/domino.xcworkspace/
!ios/Podfile.lock
!ios/Podfile
!ios/Pod/
!ios/domino/AppDelegate.m
!ios/domino/AppDelegate.mm
!ios/domino/main.m
!ios/domino/Info.plist
!ios/domino/GoogleService-Info.plist
!ios/domino/GoogleService-Info.prod.plist
!ios/domino/GoogleService-Info.dev.plist
!ios/domino/GoogleService-Info.staging.plist
